<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <table>
        <thead>
            <tr>
                <th>grade</th>
                <th>name</th>
                <th>surname</th>
            </tr>
        </thead>
        <tbody>
            {% for grade in grades %}
            <tr>
                <td>{{ grade.grade }}</td>
               <td>{{ grade.student.name }}</td>
               <td>{{ grade.student.surname }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>